<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starbucks Marketing: Determine Which Offer to Send For A Customer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Starbucks marketing</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/aeng1993">Contact (Jin Song)</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2> Determine which offer to send for a customer </h2>
        <p>- Provide the customer information on gender, age, membership history, income level</p>
        <p>- The model will help to decide which offer type to send to the customer</p>
        <p>- The model assumes an offer should be sent as long as the customer is expected to complete the offer</p>
        <p>- GREEN=SEND/ WHITE=DON'T SEND</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
         <h2 class="text-center">Input</h2>
        <form method="POST">
            {{ form.csrf_token }}
            
                <div class="form-group">
                    <label for="email">Gender:</label>
                    {{ form.gender(class="form-control") }}
                </div>
            
                <div class="form-group">
                    <label for="email">Age:</label>
                    {{ form.age(class="form-control") }}
                </div>            
 
                <div class="form-group">
                    <label for="email">Membership:</label>
                    {{ form.membership(class="form-control") }}
                </div>  
            
                <div class="form-group">
                    <label for="email">Income:</label>
                    {{ form.income(class="form-control") }}
                </div> 
               <input type="submit" class="btn btn-success" btn-lg>
        </form>
        </div>
        
        <div class="col-md-6">
            
            <h2 class="text-center">Output</h2>
                <ul class="list-group">
                    {% for i in range(10): %}
                        {% if Y_pred[0][i] == 1 %}
                            <li class="list-group-item list-group-item-success text-center">{{offer_description[i]}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-dark text-center">{{offer_description[i]}}</li>
                        {% endif %}
                    {% endfor %}        

        </div>
        
    </div>
</div>    

   
</body>
</html>
